<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="pathsToSearch" value="%AppData%\Microsoft\Microsoft SQL Server\100\Tools\Shell\;
             C:\Users\%username%\AppData\Roaming\Microsoft\Microsoft SQL Server\100\Tools\Shell\;
             C:\Documents and Settings\%username%\Application Data\Microsoft\Microsoft SQL Server\100\Tools\Shell\"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0"
                          sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
